.App {
  width: 100vw;
  height: 100vh;
}

.App_inFeed {
  min-height: 100vh;
}

.auth_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.background_video {
  position: absolute;
  top: 0;
  height: 105%;
  transform: translateX(-20px) translateY(-2vh);

  z-index: -5;
}

.blur {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
  transition: 1s all;
  z-index: -4;
}
.blurExtra {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(10px);
  transition: 1s all;
  z-index: -4;
}

.filler {
  height: 50%;
}

.filler_up {
  height: 5%;
  transition: 1s all;
}

.main_text {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main_text h2 {
  color: rgb(0, 0, 0);
  font-size: 4rem;
  font-weight: 400;
  padding: 0 5%;
}

.error_message {
  transform: translateY(-20vw);
  background-color: rgb(129, 9, 9);
  width: 100%;
  color: white;
  transition: 0.3s all;
}

.error_message div {
  margin: 3vw 5vw;
}

.active {
  transform: translateY(0vw);
}

.auth_container-end {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.open_app-button {
  opacity: 0;
  font-size: 1.2rem;
  margin: 0vw auto;
  padding: 5vw 20vw;
  background-color: #f5d269;
  border-radius: 12px;
  animation: fade-in 1.5s forwards;
  animation-delay: 2s;
  transition: 0.5s all;

  margin-bottom: 10vw;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.done {
  opacity: 1;
}

.auth {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3vw;
  margin-bottom: 20vw;

  transition: 1s all;
}

.auth div p {
  text-align: left;
}

.auth input {
  width: 80%;
  padding: 2vw;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  transition: 0.3s all;
}

.auth h3 {
  color: white;
  border-bottom: 1px solid white;
}

.finish_account {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.finish_account-top {
  margin-bottom: 30vw;
}

.finish_account-top h2 {
  font-size: 4rem;
  padding: 5vw;
}

.finish_account-top p {
  font-size: 1.5rem;
  margin: 2vw 5vw;
}

.finish_account-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 5vw;
  margin-bottom: 10vw;
}

.finish_account-inner p {
  font-size: 1.5rem;
  margin-bottom: 5vw;
}

.profile_picture-file {
  width: 32vw;
  height: 32vw;
  object-fit: cover;
  border-radius: 50%;
}

.custom-file-upload {
  display: inline-block;

  padding: 3vw 5vw;
  cursor: pointer;
  color: #fff;
  background-color: #f5d269;
  border-radius: 5px;
  font-size: 16px;
}

.custom-file-upload input {
  display: none;
}

.image_upload {
  display: flex;
}

.top_bar {
  display: flex;
  padding: 0vw 5vw;
  padding-top: 5vw;
}

.top_bar-left {
  width: 17vw;
  height: 17vw;
  border-radius: 50%;
  object-fit: cover;
  border: none;
  background-color: #f2f2f2;
}

.top_bar-filler {
  flex: 1;
}

.top_bar-profile_image {
  width: 17vw;
  height: 17vw;
  border-radius: 50%;
  object-fit: cover;
}

/* FEED */
.feed_container {
  margin-top: 10vw;
}

.feed_container-hero {
  margin: 0 5vw;
}

.feed_container-hero p {
  color: rgb(124, 124, 124);
}

.feed_container-hero h2 {
  font-size: 2rem;
}

.top_feed-container::-webkit-scrollbar {
  display: none;
}

.top_feed-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.top_feed-container {
  display: flex;
  gap: 5vw;
  /* margin: 0 5vw; */
  padding-top: 5vw;
  overflow-x: auto;
  padding-bottom: 10vw;
}

.top_feed-box {
  position: relative;
  min-width: 60vw;
  height: 90vw;
  border-radius: 24px;
  display: flex;
  box-shadow: 1px 10px 32px -1px rgba(0, 0, 0, 0.35);

  transition: 0.3s all;
}

.top_feed-box:first-child {
  margin-left: 5vw;
}

.top_feed-box:last-child {
  margin-right: 5vw;
}

.top_feed-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.top_feed-end {
  align-self: flex-end;
  margin: 0 5vw;
  margin-bottom: 5vw;
  color: white;
}

.top_feed-title {
  font-weight: 600;
}

.feed_container {
  transition: opacity 0.5s ease-in-out;
}

.animation_image {
  filter: blur(5px);
}

.travelstory_container {
  background-color: #f2f2f2;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.travelstory_background {
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  border-radius: 0 0 50px 50px;
  z-index: -1;
}

.travelstory_container-info {
  width: 100%;
  align-self: flex-end;
}

.travelstory_container-start {
  display: flex;
  color: white;
  align-items: center;
}

.travelstory_container-button_back {
  position: absolute;
  top: 0;
  margin: 3.5vw 5vw;
  color: white;
  border: none;
  width: 10vw;
}

.travelstory_container-title_main {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  flex: 1;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

/* BUBBLE */

.travelstory_container-bubble {
  transform: translateY(35vh);
  background-color: white;
  width: 80%;
  border-radius: 26px;
  padding: 5vw;
  margin: 0 auto;
}

.travelstory_container-bubble_start,
.travelstory_container-bubble_end {
  margin: 0 2vw;
  display: flex;
  justify-content: space-between;
}

.travelstory_container-bubble_start {
  align-items: center;
  margin-bottom: 5vw;
}

.travelstory_container-location {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.travelstory_container-location img {
  width: 4.5vw;
}

.travelstory_container-bubble_start p {
  text-align: right;
  color: #7c7c7c;
}

.bubble_icons {
  display: flex;
  gap: 0.3vw;
  color: #7c7c7c;
}

.bubble_icons img {
  width: 4.5vw;
}

.bubble-bookmark {
  justify-content: flex-end;
}

.bubble-price,
.bubble-bookmark {
  flex: 1;
}

.travelstory_container-details {
  transform: translateY(75vw);
}

.tab_active {
  color: #97794d;
  transition: 0.3s all;
}

.travelstory_container-details-tabs {
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  margin: 3vw 5vw;
}

.details_tab-container {
  margin: 0 5vw;
}

.details_tab-container p {
  margin-top: 5vw;
  color: #7c7c7c;
  line-height: 24px;
}
